<%= form_for [@user, @list] do |f| %>
	
	<%= render 'shared/error_explanations', { :model => @list } %>

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>