<div class="list-container">

	<h1>Your Lists</h1>

	<% if !@user.lists.empty? %>
		<ul>
			<% @user.lists.each do |list| %>
				<li data-list-id="<%=h list.id %>">		
					<%= link_to user_list_path(@user, list), :class => 'item-link' do %>
						<span>
							<%= list.title %>
							<!-- <%= list.description %> -->
						</span>
					<% end %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<p><%= link_to 'Create a New List', new_user_list_path(@user) %></p>
	<p><%= link_to 'Back', root_path %></p>
</div>

