<h1>Your Lists</h1>


<div id="list-container">
	
	<div id="list-header">
		<h2>Lists</h2>
	</div>

	<div id="list-body">
		<% if !@lists.empty? %>
			<ul>
				<% @lists.each do |list| %>
					<li data-list-id="<%=h list.id %>" class="<%= 'completed-list' if list.completed? %>">

						<%= link_to user_list_path(@user, list) do %>
							<span class="list-name">
								<%= list.title %>
							</span>
							
							<span class="list-items-remaining">
								<%= list_items_remaining_description(list) %>
							</span>
						<% end %>
						
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div id="list-footer">
		<p><%= link_to 'Create a New List', new_user_list_path(@user) %></p>
		<p><%= link_to 'Back', root_path %></p>
	</div>
	
</div>

