<%= form_for @user do |f| %>
	
	<%= render 'shared/error_explanations', { :model => @user } %>

	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :email %><br />
		<%= f.email_field :email %>
	</p>

	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</p>

	<p>
		<%= hidden_field_tag :stumper_first, @stumpers[0] %>
		<%= hidden_field_tag :stumper_second, @stumpers[1] %>
		<%= label_tag :stumper, "Humanity Test: What is #{@stumpers[0]} + #{@stumpers[1]}?" %><br />
		<%= text_field_tag :stumper %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>