<div class="list-container">

	<h1>All Users</h1>

	<% if !@users.empty? %>
		<ul>
			<% @users.each do |user| %>
				<li data-user-id="<%=h user.id %>">		
					<%= link_to user_path(user), :class => 'item-link' do %>
						<span>
							<%= user.name %>
							(<%= user.email %>)
						</span>
					<% end %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<p><%= link_to 'Create a New User', new_user_path %></p>
	<p><%= link_to 'Back', root_path %></p>
</div>






