<li id="new-item" class="no-sort <%= 'hidden' if !@item_focus %>">
	<%= form_for [@user, @list, @list.items.build] do |f| %>
		<div id="new-item-text">
			<%= f.text_field :name, :autofocus => @item_focus %>
		</div>
		<div id="new-item-actions">
			<%= f.submit 'Add Item' %>
			<% # cancel is also a button so margin/padding/alignment behavior is consistent with styled for submit button %>
			<%= button_tag 'Cancel', id: 'new-item-cancel' %>
		</div>
	<% end %>
</li>