<!DOCTYPE html>
<html>
<head>
  <title>R4list</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="main-container">

		<div id="header-container">
			<%= render 'shared/flash' %>
		</div>

		<%= render 'shared/login_items' %>
		
		<div id="content-container" style="margin: 0; padding: 0; float: left;">
			<%= yield %>
		</div>

	</div>

</body>
</html>
